:root {
  /* Viewport Sizes */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors */
  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(180deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Neutral */
  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --medium-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);

  /* Typography */
  /* Body Copy */
  --font-size-body-copy: 18px;
  --letter-spacing-header: 0.5rem;

  /* Fonts */
  --font-family: 'Josefin Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --classic-radius: 0.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: var(--very-light-gray);
}

p {
  font-size: var(--font-size-body-copy);
  font-size: 14px;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.dark-theme {
  --background-color: var(--very-dark-blue);
  --text-color: var(--light-grayish-blue-hover);
}

.container {
  width: 100%;
  height: 100vh;
  max-width: var(--mobile-width);
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--very-light-grayish-blue);
}

.bg-mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 202px;
}

.bg-desktop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  width: 100%;
  min-height: 202px;
}

@media (min-width: 1440px) {
  .bg-mobile {
    display: none;
  }
  .bg-desktop {
    display: block;
  }
}

.header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header h1 {
  letter-spacing: var(--letter-spacing-header);
  color: var(--very-light-gray);
  z-index: 2;
}

.toggle-mode-block {
  cursor: pointer;
  z-index: 2;
}





.input-block {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  border-radius: var(--classic-radius);
  z-index: 2;
}

.input-todo {
  width: 100%;
  padding: 1rem 1rem 1rem 3.5rem;
  border-radius: var(--classic-radius);
  min-height: 52px;
  z-index: 2;
}



.circle-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--light-grayish-blue);
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.1s ease;
  z-index: 2;
}

.circle-icon:hover,
.circle-icon:active,
.circle-icon:focus {
  border: 1px solid var(--bright-blue);
}

.icon-check {
  width: 20px;
  height: 20px;
  background: var(--check-background);
  border-radius: 50%;
  padding: 0.3rem;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.1s ease;
  z-index: 2;
}


.todo-list {
  color: var(--very-dark-grayish-blue);
  background-color: var(--very-light-gray);
  border-radius: var(--classic-radius);
  margin-bottom: 1rem;
  z-index: 2;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 3.5rem;
  position: relative;
  border-bottom: 1px solid var(--light-grayish-blue);
  min-height: 52px;
  z-index: 2;
}

.todo-item-text {
  font-size: 12px;
  z-index: 2;
}

.todo-item-text.completed-text {
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
  z-index: 2;
}

.icon-cross {
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.todo-item:hover .icon-cross,
.todo-item:active .icon-cross,
.todo-item:focus .icon-cross {
  transition: 0.1s ease;
  opacity: 1;
}

.todo-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 52px;
  z-index: 2;
}

.items-left {
  color: var(--dark-grayish-blue);
  z-index: 2;
}

.clear-completed {
  background-color: transparent;
  color: var(--dark-grayish-blue);
  cursor: pointer;
  transition: 0.1s ease;
  z-index: 2;
}

.clear-completed:hover,
.clear-completed:active,
.clear-completed:focus {
  color: var(--very-light-gray);
}




.choose-category-todos {
  background-color: var(--very-light-gray);
  border-radius: var(--classic-radius);
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
  min-height: 52px;
  z-index: 2;
}

.choose-category-todos button {
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  color: var(--dark-grayish-blue);
  transition: 0.1s ease;
  z-index: 2;
}

.choose-category-todos .active {
  color: var(--bright-blue);
}

.choose-category-todos button:hover {
  color: var(--very-light-gray);
}



.footer {
  text-align: center;
}

.footer h2 {
  font-size: 14px;
  color: var(--dark-grayish-blue);
  font-weight: 500;
}